body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.navbar {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

.navbar select {
    padding: 5px;
    font-size: 16px;
}

.Main-section {
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.topic-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.topic-card {
    width: 250px; /* You can adjust the size */
    height: 300px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.topic-card video {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.topic-card p {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-top: 10px;
}
